
<!DOCTYPE html>
<html>
  <head>
    <title>Target: Omnicalc-1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    
    <h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    90.0
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    95.0
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    90.74797036253307
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>

  </body>
</html>
